<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>MERN Project</title>
</head>
<body>
    <header>  
   <nav class="navbar">     
       <div class="logo"><a href="#">Suhas.</a></div>
       <ul>
           <li><a href="#">Home</a></li>
           <li><a href="#">About</a></li>
           <li><a href="#">Services</a></li>
           <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>

   <!-- hero Section  -->
   <section class="hero">
       <div class="max-width flex">
           <div class="hero-text">
               <h1>Welcome to My</h1>
               <h1>MERN Project.</h1>
               <p>We are the professional deveopler</p>
               <a href="#" class="btn">Read More</a>
           </div>
           <div class="hero-img">
               <figure>
                   <img src="./img/hero.png" alt="">
               </figure>
           </div>
       </div>
   </section>


   <section class="about">
       <div class="heading">
           <h1>About Us</h1>
       </div>
       <div class="max-width flex">
            <div class="about-img">
                <img src="./img/about.png" alt="">
            </div>
            <div class="about-text">
                <h1>My Name is suhas, I'm Professional Developer.</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam cumque illum totam accusamus dignissimos sed eligendi sit aut, ab nulla consectetur repudiandae deleniti repellat fuga ipsam fugiat incidunt consequuntur molestiae.</p>
            </div>
       </div>
   </section>

   <section class="service">
    <div class="heading">
        <h1>Our Services</h1>
        <p>Grow your buisness with us</p>
    </div>
    <div class="max-width flex">
        <div class="box">
        
                <i class="fas fa-cog"></i>
      
            <h2>Settings</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>

        <div class="box">
            
            <i class="fas fa-tachometer-alt"></i>
            
            <h2>SpeedUps</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>

        <div class="box">
            
            <i class="fas fa-user-shield"></i>
        
            <h2>Privacy</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>

        <div class="box">
            <i class="fas fa-arrow-alt-circle-left"></i>
       
            <h2>Backups</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>

        <div class="box">
     
            <i class="fas fa-shield-alt"></i>
      
            <h2>SSL Security</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>

        <div class="box">
        
            <i class="fas fa-database"></i>
      
            <h2>Database</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
   </section>

   <section class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d103304.63327676259!2d139.70020883616155!3d35.9892740453012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018b9577625918b%3A0x90e883e997254242!2sKasukabe%2C%20Saitama%2C%20Japan!5e0!3m2!1sen!2sin!4v1608458253803!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
   </section>

   <section class="contact">
       <div class="heading">
           <h1>COntact Us</h1>
       </div>
       <div class="max-width flex">
           <form action="/" method="POST">
               <div class="form-div">
                   <small>Name</small>
                   <input type="text" name="name" autocomplete="off" placeholder="Enter your name.." required>
               </div>
               <div class="form-div">
                <small>Email</small>
                <input type="email" name="email" autocomplete="off"  placeholder="Enter your email.." required>
            </div>
            <div class="form-div">
                <small>Phone</small>
                <input type="phone" name="phone" placeholder="Enter your phone no.."
                autocomplete="off" required>
            </div>
            <div class="form-div">
                <small>Message</small>
                <textarea name="msg" id="msg" cols="30" rows="10" required autocomplete="off"></textarea>
            </div>
            <div class="form-div">
                <button type="submit" class="btn">Submit</button>
            </div>
           </form>
       </div>
   </section>

   

   <script src="https://kit.fontawesome.com/7d678829bc.js" crossorigin="anonymous"></script>

</body>
</html>